-r requirements.txt

# For easy built-in functions we can leverage. However, I should build them myself
scipy
sympy

# Visualising internal data is not needed to run Euler itself
deepdiff
matplotlib

# Jupyter notebooks are not needed for the sake of tests
jupyter
notebook
jupyterlab
