# For Matrices & Graphs
numpy<2 # We will eventually get to it, but this breaks others
networkx

# When first starting out, I should not leverage these libraries (and look instead to build them myself)
# That said, that's like saying I should build my own car before driving one
scipy
sympy
